@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  background-image: url(bg11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5 {
  margin: auto;
  font-family: 'Inter', sans-seri;
  color: rgb(255, 255, 238);
}

h1{
  margin-top: 250px;
  font-size: 50px;
  font-weight: 300;
}


body{
  margin: auto;
}
